<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOGLEVEL">INFO</Property>
  </Properties>
  <Appenders>
<Console name="SlowConsole" target="SYSTEM_OUT">
</Console>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout>
          <Pattern>%highlight{%d %p %c{1.} [%t] %m %ex%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=green bold, TRACE=gray}</Pattern>
      </PatternLayout>
    </Console>
    <Async name="AsyncSystem">
      <AppenderRef ref="STDOUT"/>
    </Async>
  </Appenders>
  <Loggers>
    <Logger name="org.springframework.data.rest.webmvc.AbstractRepositoryRestController" level="OFF" additivity="false"/>
    <Root level="trace">
      <AppenderRef ref="AsyncSystem" level="${env:LOGLEVEL}"/>
    </Root>
  </Loggers>
</Configuration>
