<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOGLEVEL">INFO</Property>
  </Properties>
  <Appenders>
    <File name="System" fileName="galeb.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
      </PatternLayout>
    </File>
    <File name="AccessLog" fileName="accesslog.log" immediateFlush="false">
      <PatternLayout>
        <Pattern>%d %p %m %ex%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="AsyncSystem">
      <AppenderRef ref="System"/>
    </Async>
    <Async name="AsyncAccessLog">
      <AppenderRef ref="AccessLog"/>
    </Async>
  </Appenders>
  <Loggers>
    <Logger name="io.galeb.accesslog" level="debug" additivity="false">
      <AppenderRef ref="AsyncAccessLog" level="${env:LOGLEVEL}"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="AsyncSystem" level="${env:LOGLEVEL}"/>
    </Root>
  </Loggers>
</Configuration>
