<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOGLEVEL">INFO</Property>
  </Properties>
  <Appenders>
    <File name="File" fileName="openvraas.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="Async">
      <AppenderRef ref="File"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Async" level="${env:LOGLEVEL}"/>
    </Root>
  </Loggers>
</Configuration>
